# python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.env
.venv/
.venv*/
env/
venv/
venv*/
ENV/

# NPM packages
/node_modules
.env
package-lock.json

# visual studio code project files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# php
composer.phar
vendor/

# app
camera/camera_status.pid
camera/conf/config.json
camera/stream/pi_webrtc
locomotive/.client_id
locomotive/.device_id
locomotive/conf/config.json
.client_id
.device_id