[Unit]
Description=Camera Status Service
After=network-online.target
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=/app/bodycam2/camera/scripts/status.py alive
Restart=always
RestartSec=1
User=root
WorkingDirectory=/app/bodycam2/camera/scripts/

[Install]
WantedBy=multi-user.target
