[Unit]
Description=Cellular Network and Battery Status Service
After=network-online.target
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=/app/bodycam2/cell/status.py camera
Restart=always
RestartSec=1
User=root
WorkingDirectory=/app/bodycam2/cell/

[Install]
WantedBy=multi-user.target
