[Unit]
Description=E-STOP Monitoring Service
After=multi-user.target
Wants=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /app/bodycam2/estop/estop_monitor.py
Restart=always
RestartSec=1
User=root
WorkingDirectory=/app/bodycam2/estop/
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=estop-service

[Install]
WantedBy=multi-user.target
