[Unit]
Description=E-STOP MQTT Monitoring Service
After=multi-user.target
Wants=multi-user.target
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=/app/bodycam2/venv/bin/python3 /app/bodycam2/estop/estop_mqtt.py --led-feedback
Restart=always
RestartSec=3
User=root
WorkingDirectory=/app/bodycam2/estop/
StandardOutput=journal
StandardError=journal
SyslogIdentifier=estop-service
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
