[Unit]
Description=Network Status Service
After=network-online.target
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=/app/bodycam2/common/network_status.php camera
Restart=always
RestartSec=1
User=root
WorkingDirectory=/app/bodycam2/common/

[Install]
WantedBy=multi-user.target
