[Unit]
Description=WebRTC Watch Dog Service
After=network.target

[Service]
Type=simple
ExecStart=/app/bodycam2/camera/scripts/webrtc_wd.php
Restart=always
RestartSec=1
User=root
WorkingDirectory=/app/bodycam2/camera/scripts/
